html {
    scroll-behavior: smooth;
}

i {
    font-size: 25px;
}

header div a {
    font-family: 'Pattaya', sans-serif;
    font-size: 20px;
    color: black;
}

header div a:visited {
    color: black;
}

main {
    position: relative;
    top: 50px;
    bottom: 50px;
}

#historias {
    overflow-x: scroll;
}

#historias::-webkit-scrollbar {
    display: none;
}

.usuarioMiniatura {
    width: 55px;
    height: 55px;
}

.userComment {
    outline: none;
}

.likeDblClick {
    opacity: 0;
}

.guardarEnColeccion {
    height: 1px;
    position: absolute;
    bottom: 128px;
    background-color: #f0ebec;
    display: none;
    font-size: 12px;
}

footer div a {
    color: black;
}

footer div a:visited {
    color: black;
}

footer div a:hover {
    background-color: gray;
    width: 100%;
}

footer #bottomMenu {
    background-color: white; 
    width: 100%; 
    height: 330px; 
    position: relative; 
    bottom: 0; /*250px*/
    border-radius: 20px 20px 0 0;
    
}

/* KEYFRAMES */

@keyframes latido {
    0%{transform: scale(0.5, 0.5);}
    50%{transform: scale(1.1, 1.1);}
    100%{transform: scale(1, 1);}
}