html {
    scroll-behavior: smooth;
}

header div a {
    font-family: 'Pattaya', sans-serif;
    font-size: 20px;
    color: black;
}

header div a:visited {
    color: black;
}

#historias {
    overflow-x: scroll;
}

#historias::-webkit-scrollbar {
    display: none;
}

.usuarioMiniatura {
    width: 50px;
    height: 50px;
}

.userComment {
    outline: none;
}

.likeDblClick {
    opacity: 0;
}